@page "/add-tbl-hp-quan"
@layout MainLayout
@inherits CanErpHrPr.Pages.AddTblHpQuanComponent

@using Radzen
@using Radzen.Blazor
@using CanErpHrPr.Models.DbAtVdc2
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@tblhpquan" Visible="@(tblhpquan != null)" TItem="CanErpHrPr.Models.DbAtVdc2.TblHpQuan" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Quan Id" Component="Quan_ID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="3" style="display: block; width: 100%" @bind-Value="@(tblhpquan.Quan_ID)" Name="Quan_ID">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Quan_ID" Text="Quan_ID is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Quan Name" Component="Quan_Name" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="35" style="width: 100%" @bind-Value="@(tblhpquan.Quan_Name)" Name="Quan_Name">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Description" Component="Description" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="250" style="width: 100%" @bind-Value="@(tblhpquan.Description)" Name="Description">
                </RadzenTextBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
