@page "/edit-vw-hp-nhan-vien-l-lich/{NhanVien_ID}"
@layout MainLayout
@inherits CanErpHrPr.Pages.EditVwHpNhanVienLLichComponent

@using Radzen
@using Radzen.Blazor
@using CanErpHrPr.Models.DbAtVdc2
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@tblhpnhanvien" TItem="CanErpHrPr.Models.DbAtVdc2.TblHpNhanVien" Visible="@(tblhpnhanvien != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12">
                    <RadzenLabel Component="NgayNhatTu" style="width: 100%" Text="Ngay Nhat Tu">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-12">
                    <RadzenDatePicker DateFormat="MM/dd/yyyy" Disabled="true" style="width: 100%" @bind-Value="@(tblhpnhanvien.NgayNhatTu)" Name="NgayNhatTu">
                    </RadzenDatePicker>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12">
                    <RadzenLabel Component="HoTenLot" style="width: 100%" Text="Họ và tên lót">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-12">
                    <RadzenTextBox MaxLength="30" style="width: 100%" @bind-Value="@(tblhpnhanvien.HoTenLot)" Name="HoTenLot">
                    </RadzenTextBox>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12">
                    <RadzenLabel Component="Ten" style="width: 100%" Text="Tên">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-12">
                    <RadzenTextBox MaxLength="70" style="width: 100%" @bind-Value="@(tblhpnhanvien.Ten)" Name="Ten">
                    </RadzenTextBox>
                  </div>
                </div>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <RadzenLabel Component="NhanVien_ID" style="width: 100%" Text="Nhân viên ID">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-12">
                    <RadzenRequiredValidator Component="NhanVien_ID" style="position: absolute" Text="NhanVien_ID is required">
                    </RadzenRequiredValidator>
                    <RadzenTextBox MaxLength="4" style="display: block; width: 100%" @bind-Value="@(tblhpnhanvien.NhanVien_ID)" Name="NhanVien_ID">
                    </RadzenTextBox>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <RadzenLabel Component="MaTheChamCong" style="width: 100%" Text="Mã thẻ chấm công">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-12">
                    <RadzenTextBox MaxLength="12" style="width: 100%" @bind-Value="@(tblhpnhanvien.MaTheChamCong)" Name="MaTheChamCong">
                    </RadzenTextBox>
                  </div>
                </div>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <RadzenLabel Component="PhaiNam" style="width: 100%" Text="Phái nam">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-12">
                    <RadzenCheckBox TriState="true" @bind-Value="@(tblhpnhanvien.PhaiNam)" Name="PhaiNam">
                    </RadzenCheckBox>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <RadzenLabel Component="NgayThangNamSinh" style="width: 100%" Text="Ngày sinh">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-9">
                    <RadzenDatePicker DateFormat="MM/dd/yyyy" style="width: 100%" @bind-Value="@(tblhpnhanvien.NgayThangNamSinh)" Name="NgayThangNamSinh">
                    </RadzenDatePicker>
                  </div>
                </div>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <RadzenLabel Component="NamSinh" style="width: 100%" Text="Năm sinh">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-12">
                    <RadzenNumeric style="width: 100%" @bind-Value="@(tblhpnhanvien.NamSinh)" Name="NamSinh">
                    </RadzenNumeric>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <RadzenLabel Component="NoiSinh_FK" style="width: 100%" Text="Nơi sinh">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-12">
                    <RadzenDropDown Data="@getTblHpTinhTpsResult" Placeholder="Choose TblHpTinhTp" style="width: 100%" TextProperty="TinhTP_Name" @bind-Value="@(tblhpnhanvien.NoiSinh_FK)" ValueProperty="TinhTP_ID" Name="NoiSinh_FK">
                    </RadzenDropDown>
                  </div>
                </div>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <RadzenLabel Component="QueQuan_FK" style="width: 100%" Text="Quê quán">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-12">
                    <RadzenDropDown Data="@getTblHpTinhTpsResult" Placeholder="Choose TblHpTinhTp" style="width: 100%" TextProperty="TinhTP_Name" @bind-Value="@(tblhpnhanvien.QueQuan_FK)" ValueProperty="TinhTP_ID" Name="QueQuan_FK">
                    </RadzenDropDown>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <RadzenLabel Component="DanToc_FK" style="width: 100%" Text="Dân tộc">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-12">
                    <RadzenDropDown Data="@getTblHpDanTocsResult" Placeholder="Choose TblHpDanToc" style="width: 100%" TextProperty="DanToc_Name" @bind-Value="@(tblhpnhanvien.DanToc_FK)" ValueProperty="DanToc_ID" Name="DanToc_FK">
                    </RadzenDropDown>
                  </div>
                </div>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <RadzenLabel Component="QuocTich_FK" style="width: 100%" Text="Quốc tịch">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-12">
                    <RadzenDropDown Data="@getTblHpQuocTichesResult" Placeholder="Choose TblHpQuocTich" style="width: 100%" TextProperty="QuocTich_Name" @bind-Value="@(tblhpnhanvien.QuocTich_FK)" ValueProperty="QuocTich_ID" Name="QuocTich_FK">
                    </RadzenDropDown>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <RadzenLabel Component="TonGiao_FK" style="width: 100%" Text="Tôn giáo">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-12">
                    <RadzenDropDown Data="@getTblHpTonGiaosResult" Placeholder="Choose TblHpTonGiao" style="width: 100%" TextProperty="TonGiao_Name" @bind-Value="@(tblhpnhanvien.TonGiao_FK)" ValueProperty="TonGiao_ID" Name="TonGiao_FK">
                    </RadzenDropDown>
                  </div>
                </div>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <RadzenLabel Component="SoCMND" style="width: 100%" Text="Số CMND">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-12">
                    <RadzenTextBox MaxLength="12" style="width: 100%" @bind-Value="@(tblhpnhanvien.SoCMND)" Name="SoCMND">
                    </RadzenTextBox>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <RadzenLabel Component="NgayCapCMND" style="width: 100%" Text="Ngày cấp">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-12">
                    <RadzenDatePicker DateFormat="MM/dd/yyyy" style="width: 100%" @bind-Value="@(tblhpnhanvien.NgayCapCMND)" Name="NgayCapCMND">
                    </RadzenDatePicker>
                  </div>
                </div>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <RadzenLabel Component="NoiCapCMND" style="width: 100%" Text="Nơi cấp CMND">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-12">
                    <RadzenTextBox MaxLength="25" style="width: 100%" @bind-Value="@(tblhpnhanvien.NoiCapCMND)" Name="NoiCapCMND">
                    </RadzenTextBox>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <RadzenLabel Component="HoKhau" style="width: 100%" Text="Hộ khẩu thường trú">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-9">
                    <RadzenTextBox MaxLength="50" style="width: 100%" @bind-Value="@(tblhpnhanvien.HoKhau)" Name="HoKhau">
                    </RadzenTextBox>
                  </div>
                </div>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <RadzenLabel Component="QuanHoKhau_FK" style="width: 100%" Text="Quận">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-12">
                    <RadzenDropDown Data="@getTblHpQuansResult" Placeholder="Choose TblHpQuan" style="width: 100%" TextProperty="Quan_Name" @bind-Value="@(tblhpnhanvien.QuanHoKhau_FK)" ValueProperty="Quan_ID" Name="QuanHoKhau_FK">
                    </RadzenDropDown>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <RadzenLabel Component="TinhTPHoKhau_FK" style="width: 100%" Text="Tỉnh / TP">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-12">
                    <RadzenDropDown Data="@getTblHpTinhTpsResult" Placeholder="Choose TblHpTinhTp" style="width: 100%" TextProperty="TinhTP_Name" @bind-Value="@(tblhpnhanvien.TinhTPHoKhau_FK)" ValueProperty="TinhTP_ID" Name="TinhTPHoKhau_FK">
                    </RadzenDropDown>
                  </div>
                </div>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <RadzenLabel Component="ChoOHienNay" style="width: 100%" Text="Chỗ ở hiện nay">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-12">
                    <RadzenTextBox MaxLength="50" style="width: 100%" @bind-Value="@(tblhpnhanvien.ChoOHienNay)" Name="ChoOHienNay">
                    </RadzenTextBox>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <RadzenLabel Component="QuanChoOHienNay_FK" style="width: 100%" Text="Quận">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-12">
                    <RadzenDropDown Data="@getTblHpQuansResult" Placeholder="Choose TblHpQuan" style="width: 100%" TextProperty="Quan_Name" @bind-Value="@(tblhpnhanvien.QuanChoOHienNay_FK)" ValueProperty="Quan_ID" Name="QuanChoOHienNay_FK">
                    </RadzenDropDown>
                  </div>
                </div>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <RadzenLabel Component="TinhTPChoOHienNay_FK" style="width: 100%" Text="Tỉnh / TP">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-12">
                    <RadzenDropDown Data="@getTblHpTinhTpsResult" Placeholder="Choose TblHpTinhTp" style="width: 100%" TextProperty="TinhTP_Name" @bind-Value="@(tblhpnhanvien.TinhTPChoOHienNay_FK)" ValueProperty="TinhTP_ID" Name="TinhTPChoOHienNay_FK">
                    </RadzenDropDown>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <RadzenLabel Component="SoDienThoai" style="width: 100%" Text="Số điện thoại">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-12">
                    <RadzenTextBox MaxLength="25" style="width: 100%" @bind-Value="@(tblhpnhanvien.SoDienThoai)" Name="SoDienThoai">
                    </RadzenTextBox>
                  </div>
                </div>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <RadzenLabel Component="Email" style="width: 100%" Text="Email">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-12">
                    <RadzenTextBox MaxLength="50" style="width: 100%" @bind-Value="@(tblhpnhanvien.Email)" Name="Email">
                    </RadzenTextBox>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <RadzenLabel Component="MaSoThueCaNhan" style="width: 100%" Text="Mã số thuế cá nhân">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-12">
                    <RadzenTextBox MaxLength="10" style="width: 100%" @bind-Value="@(tblhpnhanvien.MaSoThueCaNhan)" Name="MaSoThueCaNhan">
                    </RadzenTextBox>
                  </div>
                </div>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <RadzenLabel Component="TaiKhoanThanhToan" style="width: 100%" Text="Tài khoản thanh toán">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-12">
                    <RadzenTextBox MaxLength="15" style="width: 100%" @bind-Value="@(tblhpnhanvien.TaiKhoanThanhToan)" Name="TaiKhoanThanhToan">
                    </RadzenTextBox>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <RadzenLabel Component="HoTenATM" style="width: 100%" Text="Họ tên thanh toán ATM">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-12">
                    <RadzenTextBox MaxLength="30" style="width: 100%" @bind-Value="@(tblhpnhanvien.HoTenATM)" Name="HoTenATM">
                    </RadzenTextBox>
                  </div>
                </div>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <RadzenLabel Component="MaKeToan" style="width: 100%" Text="Mã kế toán">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-12">
                    <RadzenTextBox MaxLength="10" style="width: 100%" @bind-Value="@(tblhpnhanvien.MaKeToan)" Name="MaKeToan">
                    </RadzenTextBox>
                  </div>
                </div>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="HinhAnh" style="width: 100%" Text="Hinh Anh">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenFileInput @bind-Value="@(tblhpnhanvien.HinhAnh)" Name="HinhAnh">
                </RadzenFileInput>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
